/* Color Name */
/* h1 {
    color: papayawhip;
} */

/*  Hexadecimal */
/* Hexadecimal number/character goes from zero to the letter F */
/* # + 6 HEXADECIMAL NUMBERS/CHARACTERS */
/* 0123456789ABCDEF */
/* Example: #098F23 */

/* First two determine the amount of Red */
/* Second two determine the amount of Green */
/* Last two determine the amount of Blue */

/* Colors work as if they are light not paints */
/* #FFFFFF would be white */
/* #000000 would be black */
h1 {
    /* This is Green */
    color: #00ff00;
}

h1 {
    /* This is Blue */
    color: #0000FF;
}
/* Shorthand way to write a hexidecimal (First two must match, as well as second two, etc.) */
h1 {
    /* color: #000000; */
    color: #0000;
}

h1 {
    /* color: #1155cc; */
    color: #15C;
}

/* RGB (Red, Green, Blue) */
/* Example: rgb(0, 14, 255) */
/* RGB has 3 channels/spots */
/* rgb(#, #, #) */
/* Each goes from 0-255 */
h1 {
    color: rgb(255,0,0);
}

/* RGBA (Red, Green, Blue, Alpha */
/* Example: rgba(12, 17, 84, 0.4) */
/* Alpha determins the transparency */
/* Alpha goes from 0 to 1 */
h1 {
    /* Setting alpha to zero will make the element "disappear" (fully transparent). Setting to 1 will make it NOT transparent. */
    color: rgba(0, 0, 255, 0.5);
}